<h2>Añadir comentario:</h2>
<p>
	<form method="post" action="/quizes/<%= quizid %>/comments/" >
		<input type="text" id="comment" name="comment[texto]" placeholder="Añade aquí tu comentario"> <br>
		<button type="submit">Enviar</button>
	</form>
</p>
